<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="exercise">
  <!-- 1) Hook up the button to toggle the display of the two paragraphs.
  Use both v-if and v-show and inspect the elements to see the difference -->
  <div>
    <button v-on:click="show = !show">Toggle</button>
    <p v-if="show">You either see me ...</p>
    <p v-else>...or me</p>
    <p v-show="show">You either see me ...</p>
    <p v-if="!show">...or me</p>
  </div>
  <!-- 2) Output an <ul> of array elements of your choice. Also print
  the index of each element. -->
  <ul>
    <li v-for="( item , index ) of items"> {{item}} (index) </li>
  </ul>
  <!-- 3) Print all key-value pairs of the following object:
  {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}.
  Also print the index of each item. -->
  <ul>
    <div v-for="(value, key, index) in book">{{key}}: {{value}} ({{index}})</div>
  </ul>
  <!-- 4) Print the following object (only the values) and also create
  a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]}
  (hint: use v-for and v-if to achieve this) -->
  <ul>
    <li v-for="value in testData">
      <!-- with v-if="!Array.isArray(value)" we will only show not
      array elements on our template -->
      <template v-if="!Array.isArray(value)">
        {{ value }}
      </template>
      <template v-else-if="Array.isArray(value)">
        <!-- with v-if="Array.isArray(value)" we will only show
        array elements on our template -->
        <div v-for="element in value">{{ element }}</div>
      </template>
    </li>
  </ul>
</div>

<script type="text/javascript">
// create a root instance
new Vue({
  el: '#exercise',
  data: {
    show: true,
    items: ['item1','item2','item3'],
    book: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'},
    testData: { name: 'TESTOBJECT', id: 10, data: [1.67, 1.33, 0.98, 2.21] }
  }, // data Ends
  methods: {
  }, // methods Ends
  computed:{
  }, // computed Ends
  watch:{
  } // watch Ends
});
</script>
