<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style media="screen">

</style>
<body>
  <div id="app">

    <ul>
      <!--We can use the directive v-for to render an array of objects,
      also parenthesis can surround our iterator and a parameter can be
      added, that parameter will get the index of the iterated object. -->
      <!-- A key can manually be added with the directive :key=<<name of
      key>> to our dom-repeat so each element has its own key to avoid
      some issues about updating the looped array-->
      <li v-for="( ingredient , i ) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
    </ul>
    <button v-on:click="ingredients.push('spices')">Add more</button>
    <hr>
    <!--it is posible to loop through properties of objects -->
    <ul>
      <li v-for="person in persons">
        <div v-for="( value, key, index ) in person">{{ key}} : {{ value }} ({{index}})</div>
      </li>
    </ul>
    <hr>
    <!-- it is posible to iterate and show values of just
    numbers, Vue will render values until we reaching the
    value that it is iteraring  -->
    <span v-for="n in 10">{{ n }}</span>
    <hr>
    <!-- we can use a template so we can render our array with
    diferent HTML elements -->
    <template v-for="(ingredient, index) in ingredients">
      <h1>{{ ingredient }}</h1>
      <p>{{ index }}</p>
    </template>
    <hr>

  </div>
</body>


<script src="../Local-Vue/vue.js"></script>
<script type="text/javascript">
// create a root instance
new Vue({
  el: '#app',
  data: {
    ingredients: ['meat', 'fruit', 'cookies'],
    persons: [
      { name:'Max', age:27, color:'red' },
      { name:'Anna', age:'unknown', color:'blue' }
    ]
  }, // data Ends
  methods: {
  }, // methods Ends
  computed:{
  }, // computed Ends
  watch:{
  } // watch Ends
});
</script>
</html>
