<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style media="screen">
hr {
  border-color: #71717117;
}
</style>
<body>
  <div id="app">

    <my-component></my-component>
    <hr>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <!--Data can be passed down to child components using props.-->
    <hr>
    <input v-model="message">
    <!--If you want user input to be automatically typecast as a number,
    you can add the number modifier to your v-model managed inputs-->
    <input type="number" v-model.number="number">
    <child-component v-bind:message="message" v-bind:number="number" v-bind:initial-counter="1">
    </child-component>
    <!--If you want to pass all the properties in an object as props,
    you can use v-bind without an argument (v-bind instead of v-bind:prop-name).
    For example, given a todo object-->
    <hr>
    <input v-model="todo.message">
    <input v-model="todo.messageTwo">
    <!--f we want to pass down an actual JavaScript number,
    we need to use v-bind so that its value is evaluated as a JavaScript expression-->
    <input type="number" v-model.number="todo.number">
    <child-component v-bind="todo" v-bind:initial-counter="1"></child-component>
    <hr>
    <example-component v-bind:prop-a="sample"></example-component>
    <hr>
    <!--we use v-on and the name of the event emited by the
    component, we can also use standar events with v-on-->
    <button-message v-on:message="handleMessage"></button-message>
    <p v-for="msg in messages">{{ msg }}</p><!--the sintax for List rendering-->

  </div>
</body>


<script src="../Local_Vue/vue.js"></script>
<script type="text/javascript">
// register components
//1.-Global Registration
Vue.component('my-component', {
  template: `<div>A custom component!</div>`
});
// 2.-Data Must Be a Function
Vue.component('simple-counter', {
  template: '<button v-on:click="counter += 1">{{ counter }}</button>',
  // data is technically a function, so Vue won't
  // complain, but we return the same object
  // reference for each component instance
  data: function () {
    return {
      counter: 0
    }
  }
});
// 3.-Passing Data with Props
Vue.component('child-component', {
  // declare the props
  // like data, the prop can be used inside templates and
  // is also made available in the vm as this.message
  props: ['message', 'messageTwo', 'number', 'initialCounter'],
  // Instead of using a property from the father if the property will be modified
  // we define a local data property that uses the prop’s initial value as its initial value
  data: function () {
    return {
      counter: 1 + this.initialCounter
    }
  },
  template: `<div>
  <span> {{ message }} {{messageTwo}} {{ number + number }}</span> <br>
  <span>counter: {{counter }}</span>
  </div>`
});
// 4.- Prop Validation
// It is possible for a component to specify requirements for the props it is receiving.
// If a requirement is not met, Vue will emit warnings.
Vue.component('example-component', {
  props: {
    // basic type check (`null` means accept any type)
    propA: Number,
    // multiple possible types
    propB: [String, Number],
    // a required string
    propC: {
      type: String,
      required: true
    },
    // a number with default value
    propD: {
      type: Number,
      default: 100
    },
    // object/array defaults should be returned from a
    // factory function
    propE: {
      type: Object,
      default: function () {
        return { message: 'hello' }
      }
    },
    // custom validator function
    propF: {
      validator: function (value) {
        return value > 10
      }
    }
  },
  template: `<div>
  <span>{{propA+propA}}, a value with default:{{propD}}</span>
  </div>`
});
// 5.-Custom Events (or how do we communicate back to the parent )
Vue.component('button-message', {
  template: `<div>
  <input type="text" v-model="message" />
  <button v-on:click="handleSendMessage">Send</button>
  </div>`,
  data: function () {
    return {
      message: 'test message'
    }
  },
  methods: {
    handleSendMessage: function (payload) {
      // here we use our payload that cointains the 'message' key
      this.$emit('message', { message: this.message });
    }
  }
});
// create a root instance
new Vue({
  el: '#app',
  data: {
    message: 'hello!',
    messageTwo: 'helloTwo!',
    number: 1,
    sample: "9",
    messages: [],
    todo: {
      message: 'hello!',
      messageTwo: 'helloTwo!',
      number:1
    }
  }, // data Ends
  methods: {
    handleMessage: function (payload) {
      // here we use the payload parameter to use the key 'message'
      this.messages.push(payload.message);
    }
  }, // methods Ends
  computed:{
  }, // computed Ends
  watch:{
  } // watch Ends
});
</script>
</html>
